@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Figtree", sans-serif;
}

* {
  scrollbar-gutter: stable;
}

#__next {
  height: 100%;

  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --color-text-primary: 34 37 37;
    --color-text-accent: 122 49 218;

    --color-bg-primary: 246 241 236;
    --color-bg-secondary: 230 230 230;
    --color-text-shadow: 246 241 236;
    --color-element: rgb(34, 37, 37);

    --color-primary-light: 246 241 236;
    --color-primary-dark: 34 37 37;
    --color-purple: 101 75 255;

    --color-golden: 255 223 57;
  }
}

.theme-dark {
  --color-text-primary: 246 241 236;
  --color-text-accent: 122 49 218;

  --color-bg-primary: 31 31 32;
  --color-bg-secondary: 48 47 51;
  --color-text-shadow: rgb(31, 31, 32);
  --color-element: 246 241 236;
}

.theme-orange {
  --color-bg-accent: 244 93 72;
}

.theme-purple {
  --color-bg-accent: 101 75 255;
}

.theme-gray {
  --color-bg-accent: 148 148 151;
}

.text-shadow {
  text-shadow: 0px 0px 7px var(--color-text-shadow);
}

/* /////////////////////////// */

.h14 {
  height: 14rem;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  margin: 1rem 0 0.75rem 0;
  white-space: nowrap;
  width: 100%;
  background-color: var(--color-element);
  opacity: 25%;
  height: 1px;
}

.shadowy {
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.219);
}

.shadowy-2 {
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
}

.fade-in {
  animation: fadeInAnimation ease 0.5s forwards;
}

.fade-in-medium {
  animation: fadeInAnimation ease 1s;
}

.fade-in-delayed1 {
  animation: fadeInAnimation 0.5s ease 0.25s forwards;
}

.fade-in-delayed2 {
  animation: fadeInAnimation 0.5s ease 0.35s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOutAnimation ease 0.5s;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-reveal {
  clip-path: inset(0 100% 0 0);
  animation: revealAnimation ease 0.5s forwards 0.5s;
}

@keyframes revealAnimation {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.animate-spin {
  animation: spin linear 5s forwards infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  } 100% {
    transform: rotate(359deg);
  }
}
