:root {
  --color-loader: rgb(34, 37, 37);
  --color-loader-2: rgb(31, 31, 32, 0.2);
  --color-loader-5: rgb(31, 31, 32, 0.5);
  --color-loader-7: rgb(31, 31, 32, 0.7);
}

.theme-dark {
  --color-loader: rgb(248, 245, 242);
  --color-loader-2: rgb(248, 245, 242, 0.2);
  --color-loader-5: rgb(248, 245, 242, 0.5);
  --color-loader-7: rgb(248, 245, 242, 0.7);
}

.loader {
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: scale(0.25);
  box-shadow: 0em -2.6em 0em 0em var(--color-loader), 1.8em -1.8em 0 0em var(--color-loader-2), 2.5em 0em 0 0em var(--color-loader-2), 1.75em 1.75em 0 0em var(--color-loader-2), 0em 2.5em 0 0em var(--color-loader-2), -1.8em 1.8em 0 0em var(--color-loader-2), -2.6em 0em 0 0em var(--color-loader-5), -1.8em -1.8em 0 0em var(--color-loader-7);
}